<img src="assets/user.png" alt="user" width="30" height="30">
<button mat-button [matMenuTriggerFor]="menu">Bravo Blas <mat-icon>arrow_drop_down</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="profile">
    <mat-icon>account_circle</mat-icon> Perfil
  </button>
  <button mat-menu-item>
    <mat-icon>notification_important</mat-icon> Notificaciones
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon> Configuración
  </button>
  <hr style="padding: 0px; margin: 0px;">
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon> Salir
  </button>
</mat-menu>