<div id="agendatelefonica" class="container-fluid">
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado==1">
    <div class="col-md-10 text-center">
      <h5>Venta</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                <label for="idFecha" class="labelFecha">Fecha</label>
                <input id="idFecha" type="date" formControlName="fecha" class="form-control form-control-sm" #fecha>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label ">
              <label for="idModalidadPago" class="labelModalidadPago">Socio</label>
              <input id="idModalidadPago" class="form-control form-control-sm color-busqueda"
                type="text" matInput [formControl]="socio" [matAutocomplete]="auto" autocomplete="off" >
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let socio of resultadosSocios" [value]="socio" (click)="cambioSocio(socio)">
                  {{socio.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group ">
              <div class="form-group has-float-label">
                  <label for="idConcepto" class="tamanio-label">Concepto</label>
                  <mat-select class="form-control" id="idConcepto" formControlName="idConcepto" [compareWith]="compareFn">
                      <mat-option *ngFor="let concepto of listaConcepto" [value]="concepto"> {{concepto.nombre }}</mat-option>
                  </mat-select>
                </div>
            </div>
          </div>
          <div class="col-md-2" *ngIf="mostrarMesAPagar">
            <div class="form-group ">
              <div class="form-group has-float-label">
                  <label for="idMes" class="tamanio-label">Mes a Pagar</label>
                  <mat-select class="form-control" id="idMes" formControlName="mes" [compareWith]="compareFn">
                    <mat-option [value]="01" >Enero </mat-option>
                    <mat-option [value]="02">Febrero </mat-option>
                    <mat-option [value]="03" >Marzo </mat-option>
                    <mat-option [value]="04">Abril </mat-option>
                    <mat-option [value]="05" >Mayo </mat-option>
                    <mat-option [value]="06">Junio </mat-option>
                    <mat-option [value]="07" >Julio </mat-option>
                    <mat-option [value]="08">Agosto </mat-option>
                    <mat-option [value]="09" >Septiembre </mat-option>
                    <mat-option [value]="10">Octubre </mat-option>
                    <mat-option [value]="11" >Noviembre </mat-option>
                    <mat-option [value]="12">Diciembre </mat-option>
                  </mat-select>
                </div>
            </div>
          </div>
          <div class="col-md-2" *ngIf="!mostrarMesAPagar">
            <div class="form-group has-float-label">
              <label id="labelCantidad" for="idCantidad" class="tamanio-label">Cantidad</label>
              <input id="idCantidad" type="number" [formControl]="cantidad" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-2" >
            <div class="form-group has-float-label">
              <label id="labelTelefono" for="idTelefono" class="tamanio-label">Año</label>
              <input id="idTelefono" type="number" formControlName="anio" autocomplete="off" maxlength="4"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idTipoFactura" class="labelTipoFactura">Importe</label>
              <input id="idTipoFactura" type="number" formControlName="Importe" autocomplete="off" class="form-control form-control-sm" readonly>
            </div>
          </div>
          
        </div>
        <div class="row">
            <div class="col-md-12">
              <div formArrayName="formulariosCompra" >
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th class="text-center" style="width:5%" scope="col">#</th>
                        <th class="text-center" style="width:15%" scope="col">Tipo de Formulario</th>
                        <th class="text-center" style="width:15%" scope="col">Precio c/u ($)</th>
                        <th class="text-center" style="width:15%" scope="col">N° Desde</th>
                        <th class="text-center" style="width:15%" scope="col">N° Hasta</th>
                        <th class="text-center" style="width:10%" scope="col">Cantidad</th>
                        <th class="text-center" style="width:20%" scope="col">Precio Total ($)</th>
                        <th class="text-center" style="width:5%" scope="col" >
                          <span class="" (click)="agregarElemento()">+</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let a of formulario.get('formulariosCompra').controls; let i = index" [formGroupName]="i"> 
                        <td class="td-edicion-tabla">
                          <span>{{i+1}}</span>
                        </td>
                        <td class="td-edicion-tabla">
                          <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="tipoFormulario"
                            type="text" matInput [formControl]="buscarTipoFormulario" [matAutocomplete]="autoFormulario" 
                            autocomplete="off" >
                          <mat-autocomplete #autoFormulario="matAutocomplete" [displayWith]="displayFn.bind(this)">
                            <mat-option *ngFor="let tipoFormulario of resultadosTiposFormularios" [value]="tipoFormulario" (onSelectionChange)="cambioAutocompletadoTipoFormulario(tipoFormulario, i)">
                              {{tipoFormulario.alias}}
                            </mat-option>
                          </mat-autocomplete>
                        </td>
                        <td class="td-edicion-tabla">
                          <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="precioUnitario" [readonly]="soloLectura">
                        </td>
                        <td class="td-edicion-tabla">
                          <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="numeracionDesde" type="number">
                        </td>
                        <td class="td-edicion-tabla">
                          <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="numeracionHasta" type="number" (blur)="calcularCantidad(i)">
                        </td>
                        <td class="td-edicion-tabla">
                            <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="cantidad" [readonly]="soloLectura">
                        </td>
                        <td class="td-edicion-tabla">
                          <input id="idTipoFormulario" class="form-control form-control-sm" formControlName="montoTotal" type="number" [readonly]="soloLectura">
                        </td>
                        <td class="td-edicion-tabla">
                          <span class="cursor-color" (click)="eliminarElemento(i)">X</span>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                <label for="idProveedor" class="labelProveedor">{{tipoModalidadPago}} ($)</label>
                <input id="idProveedor" type="number" formControlName="increDesc" autocomplete="off" class="form-control form-control-sm" (blur)="aplicarDescuentoIncremento()">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                <label for="idTipoFactura" class="labelTipoFactura">Precio Factura</label>
                <input id="idTipoFactura" type="text" formControlName="monto" autocomplete="off" class="form-control form-control-sm"
                  [readonly]="soloLectura">
              </div>
            </div>
        </div>
        <button id="idBoton" class="btn btn-primary" type="button" (click)="agregar()">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>