<div id="agendatelefonica" class="container-fluid">
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado==1">
    <div class="col-md-10 text-center">
      <h5>Venta</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                <label for="idFecha" class="labelFecha">Fecha</label>
                <input id="idFecha" type="date" formControlName="fecha" class="form-control form-control-sm" #fecha>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label ">
              <label for="idSocio" class="labelSocio">Socio</label>
              <input id="idSocio" class="form-control form-control-sm color-busqueda"
                type="text" matInput [formControl]="formulario.get('socio')" [matAutocomplete]="auto" autocomplete="off" >
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnAlias.bind(this)" (optionSelected)="cambioAutocompletadoSocio()">
                <mat-option *ngFor="let socio of resultadoSocio" [value]="socio" > <!--(onSelectionChange)="cambioAutocompletadoSocio(socio)"-->
                  {{socio.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group ">
              <div class="form-group has-float-label">
                  <label for="idConcepto" class="tamanio-label">Concepto</label>
                  <mat-select class="form-control form-control-sm" id="idConcepto" [formControl]="formularioConsumo.get('concepto')" [compareWith]="compareFn" (selectionChange)="cambioAutocompletadoConcepto()">
                      <mat-option *ngFor="let concepto of listaConcepto" [value]="concepto" >
                        {{concepto.nombre }}
                      </mat-option>
                  </mat-select>
                </div>
            </div>
          </div>
          <div class="col-md-2" *ngIf="mostrarMesAPagar">
            <div class="form-group ">
              <div class="form-group has-float-label">
                  <label for="idMes" class="tamanio-label">Mes a Pagar</label>
                  <mat-select class="form-control form-control-sm" id="idMes" [formControl]="formularioConsumo.get('mes')" >
                    <mat-option [value]="01" >Enero </mat-option>
                    <mat-option [value]="02">Febrero </mat-option>
                    <mat-option [value]="03" >Marzo </mat-option>
                    <mat-option [value]="04">Abril </mat-option>
                    <mat-option [value]="05" >Mayo </mat-option>
                    <mat-option [value]="06">Junio </mat-option>
                    <mat-option [value]="07" >Julio </mat-option>
                    <mat-option [value]="08">Agosto </mat-option>
                    <mat-option [value]="09" >Septiembre </mat-option>
                    <mat-option [value]="10">Octubre </mat-option>
                    <mat-option [value]="11" >Noviembre </mat-option>
                    <mat-option [value]="12">Diciembre </mat-option>
                  </mat-select>
                </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="!mostrarMesAPagar">
            <div class="form-group has-float-label">
              <label id="labelCantidad" for="idCantidad" class="tamanio-label">Cantidad</label>
              <input id="idCantidad" type="number" [formControl]="formularioConsumo.get('cantidad')" autocomplete="off" (blur)="calcularImporteSiNoEsCuota()"
                class="form-control form-control-sm" >
            </div>
          </div>
          <div class="col-md-2" *ngIf="mostrarMesAPagar">
            <div class="form-group has-float-label">
              <label id="labelTelefono" for="idTelefono" class="tamanio-label">Año</label>
              <input id="idTelefono" type="text" formControlName="formularioConsumo.get('anio')" autocomplete="off" pattern="[0-9]" maxlength="4" 
                class="form-control form-control-sm" >
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idTipoFactura" class="labelTipoFactura">Importe</label>
              <input id="idTipoFactura" type="number" [formControl]="formularioConsumo.get('importe')" autocomplete="off" class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-1">
            <button id="idBotonAgregar" class="btn btn-primary btn-sm" type="button" (click)="agregarElemento()" >
              Agregar
            </button>
        </div>        
      </div>
        <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th class="text-center" style="width:5%" scope="col">#</th>
                        <th class="text-center" style="width:15%" scope="col">Socio</th>
                        <th class="text-center" style="width:15%" scope="col">Concepto</th>
                        <th class="text-center" style="width:15%" scope="col">Mes a pagar/Cantidad</th>
                        <th class="text-center" style="width:20%" scope="col">Importe ($)</th>
                        <th class="text-center" style="width:5%" scope="col" >
                          <span class="" (click)="eliminarElemento()">-</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let a of listaAgregar; let i = index" > 
                        <td class="td-edicion-tabla">
                          <span>{{i+1}}</span>
                        </td>
                        <td class="td-edicion-tabla">
                          <span>{{nombreDelSocio}}</span>
                        </td>
                        <td class="td-edicion-tabla">
                            <span>{{a.concepto.nombre}}</span>
                        </td>
                        <td class="td-edicion-tabla" *ngIf="a.cantidad!=0; else mostrarMes">
                            <span>{{a.cantidad}}</span>
                        </td>
                        <ng-template #mostrarMes>
                            <span>{{a.mes}}</span>
                        </ng-template>
                        <td class="td-edicion-tabla">
                            <span>{{a.importe}}</span>
                        </td>
                        <td class="td-edicion-tabla">
                          <span class="cursor-color" (click)="eliminarElemento(i, a.importe)">X</span>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3 text-right">
              <div class="form-group has-float-label" >
                <label for="idCantidad" class="labelCantidad">Importe Total ($)</label>
                <input id="idCantidad" type="number" formControlName="importeTotal" autocomplete="off" class="form-control form-control-sm" (blur)="aplicarAbona()" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 text-right">
              <div class="form-group has-float-label" >
                <label for="idCantidad" class="labelCantidad">Abona ($)</label>
                <input id="idCantidad" type="number" formControlName="importeAbona" autocomplete="off" class="form-control form-control-sm" >
              </div>
            </div>
          </div>
          <button id="idBoton" class="btn btn-primary" type="button" (click)="agregar()">
            Guardar
          </button>
      </form>
    </div>
  </div>
</div>