<div class="row justify-content-center contenedor">
    <div class="col-md-12 text-center">
        <h5>Detalle</h5>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th class="text-center" style="width:10%" scope="col">#</th>
                  <th class="text-center" style="width:20%" scope="col">Fecha</th>
                  <th class="text-center" style="width:20%" scope="col">Importe ($)</th>
                  <th class="text-center" style="width:20%" scope="col">Saldo ($)</th>
                  <th class="text-center" style="width:10%" scope="col" *ngIf="mostrarSaldar">Saldar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pago of pagosConsumoSocio; let i = index">
                  <td>
                    <span>{{pago.id}}</span>
                  </td>
                  <td>
                    <span>{{pago.fecha}}</span>
                  </td>
                  <td>
                    <span>{{pago.importe}}</span>
                  </td>
                  <td>
                    <span>{{pago.saldo}}</span>
                  </td>
                  <td *ngIf="mostrarSaldar">
                      <mat-checkbox  (change)="accionPago(pago, $event, i)"></mat-checkbox>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>