<div id="area" class="container-fluid">
  <div class="row">
    <div class="container text-center">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>Deudores</a>
        <a mat-tab-link (click)="seleccionarPestania(1, 1)" [active]="activeLink== 1" >Consultar</a>
        <a mat-tab-link (click)="seleccionarPestania(2, 2)" [active]="activeLink== 2" >Deudores</a>
        <a mat-tab-link (click)="seleccionarPestania(3, 3)" [active]="activeLink== 3" >Historial</a>
      </nav>
  </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 1">
    <div class="col-md-10 text-center">
      <h5>Consultar Deudas</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label ">
              <label for="idSocio" class="labelSocio">Socio</label>
              <input id="idSocio" class="form-control form-control-sm color-busqueda"
                type="text" matInput [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off" >
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)" (optionSelected)="cambioAutocompletado()" >
                <mat-option *ngFor="let socio of socios" [value]="socio" > 
                  {{socio.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th class="text-center" style="width:10%" scope="col">#</th>
                    <th class="text-center" style="width:20%" scope="col">Fecha</th>
                    <th class="text-center" style="width:20%" scope="col">Detalle</th>
                    <th class="text-center" style="width:20%" scope="col">Importe ($)</th>
                    <th class="text-center" style="width:20%" scope="col">Saldo ($)</th>
                    <th class="text-center" style="width:10%" scope="col">Saldar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let deuda of listaSocioDedudas; let i = index">
                    <td >
                      <span>{{deuda.id}}</span>
                    </td>
                    <td >
                      <span>{{deuda.fecha}}</span>
                    </td>
                    <td >
                      <span class="cursor-color" (click)="detalleDeudaSocio(deuda, true)">Ver Detalle</span>
                    </td>
                    <td >
                      <span>{{deuda.importe}}</span>
                    </td>
                    <td >
                      <span>{{deuda.saldo}}</span>
                    </td>
                    <td >
                      <mat-checkbox  (change)="accionConsumo(deuda, $event, i)"></mat-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <button id="idBoton" class="btn btn-primary" type="button"
          formnovalidate (click)="accion(indiceSeleccionado)">
          Saldar
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 2">
    <div class="col-md-10 text-center">
      <h5>Deudores</h5>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th class="text-center" style="width:10%" scope="col">#</th>
                <th class="text-center" style="width:40%" scope="col">Nombre</th>
                <th class="text-center" style="width:40%" scope="col">Saldo</th>
                <th class="text-center" style="width:10%" scope="col">-</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let deudor of listaDeudores">
                <td >
                  <span>{{deudor.id}}</span>
                </td>
                <td >
                  <span>{{deudor.socio.nombre}}</span>
                </td>
                <td >
                  <span>{{deudor.saldo}}</span>
                </td>
                <td >
                  <span class="cursor-color" (click)="activarConsultarDeudor(deudor)">Ver Ficha</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado== 3">
    <div class="col-md-10 text-center">
      <h5>Historial de Deudas</h5>
      <form [formGroup]="formularioHistorial" class="contenedor">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label ">
              <label for="idSocio" class="labelSocio">Socio</label>
              <input id="idSocio" class="form-control form-control-sm color-busqueda"
                type="text" matInput [formControl]="autocompletadoHistorial" [matAutocomplete]="auto" autocomplete="off" >
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)" (optionSelected)="cambioHistorial()" >
                <mat-option *ngFor="let socio of socios" [value]="socio" > 
                  {{socio.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th class="text-center" style="width:10%" scope="col">#</th>
                    <th class="text-center" style="width:10%" scope="col">Fecha</th>
                    <th class="text-center" style="width:10%" scope="col">Detalle</th>
                    <th class="text-center" style="width:15%" scope="col">Importe ($)</th>
                    <th class="text-center" style="width:15%" scope="col">Saldo ($)</th>
                    <th class="text-center" style="width:10%" scope="col">Esta Activa</th>
                    <th class="text-center" style="width:30%" scope="col">Fecha Cancelada</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let deuda of listaHistorialDeudas">
                    <td >
                      <span>{{deuda.id}}</span>
                    </td>
                    <td >
                      <span>{{deuda.fecha}}</span>
                    </td>
                    <td >
                      <span class="cursor-color" (click)="detalleDeudaSocio(deuda, false)">Ver Detalle</span>
                    </td>
                    <td >
                      <span>{{deuda.importe}}</span>
                    </td>
                    <td >
                      <span>{{deuda.saldo}}</span>
                    </td>
                    <td >
                      <span *ngIf="deuda.estaActivo">Sí</span><span *ngIf="!deuda.estaActivo">No</span>
                    </td>
                    <td >
                        <span *ngIf="deuda.fechaCancelado==null">No tiene fecha de cancelación</span>
                        <span *ngIf="deuda.fechaCancelado!=null">{{deuda.fechaCancelado}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>