<div id="area" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="container text-center">
      <nav mat-tab-nav-bar>
          <a mat-tab-link disabled>Ejercicio</a>
          <a mat-tab-link
             *ngFor="let pestania of pestanias"
             [active]="activeLink== pestania.pestania.nombre"
             (click)="seleccionarPestania(pestania.pestania.id, pestania.pestania.nombre)">
            {{pestania.pestania.nombre}}
          </a>
        </nav>
  </div>
  </div>
  <div class="row justify-content-center contenedor">
    <h5>{{pestaniaActual}} Ejercicio</h5>
  </div>
  <!-- <form [formGroup]="formulario" class="contenedor"> -->
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-6 text-center">
      <form [formGroup]="formulario" class="contenedor">
        <div class="row ">
          <div class="col-md-8">
            <div class="form-group has-float-label " *ngIf="mostrarAutocompletado">
              <label for="idAutocompletado" class="tamanio-label">Buscar</label>
              <input id="idAutocompletado" class="form-control form-control-sm color-busqueda"
                type="text" matInput [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let item of resultados" [value]="item"
                  (onSelectionChange)="cambioAutocompletado(item)">
                  {{item.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row ">
            <div class="col-md-4">
              <div class="form-group has-float-label ">
                <label for="idCodigo" class="tamanio-label">Código</label>
                <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm" readonly>
              </div>
            </div>
        </div>
        <div class="row ">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelNombre" for="idNombre" class="tamanio-label">Nombre *</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4">
            <div class="form-group ">
              <div class="form-group has-float-label">
                  <label for="idGrupoGeneral" class="tamanio-label">Grupo General</label>
                  <mat-select class="form-control" id="idGrupoGeneral" placeholder="Grupo General" formControlName="idGrupoGeneral" [compareWith]="compareFn">
                      <mat-option *ngFor="let grupoGeneral of listaGrupoGenerales" [value]="grupoGeneral"> {{grupoGeneral.nombre }}</mat-option>
                  </mat-select>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <div class="form-group has-float-label">
                  <label for="idGrupoMuscular" class="tamanio-label">Grupo Muscular</label>
                  <mat-select class="form-control" id="idGrupoMuscular" placeholder="Grupo Muscular" formControlName="idGrupoMuscular" [compareWith]="compareFn">
                      <mat-option *ngFor="let grupoMuscular of listaGrupoMusculares" [value]="grupoMuscular"> {{grupoMuscular.nombre }}</mat-option>
                  </mat-select>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <div class="form-group has-float-label">
                  <label for="idGrupoMaquina" class="tamanio-label">Grupo Máquina</label>
                  <mat-select class="form-control" id="idGrupoMaquina" placeholder="Grupo Máquina" formControlName="idGrupoMaquina" [compareWith]="compareFn">
                      <mat-option *ngFor="let grupoMaquina of listaGrupoMaquinas" [value]="grupoMaquina"> {{grupoMaquina.nombre }}</mat-option>
                  </mat-select>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
              <div class="form-group has-float-label">
                  <label for="idLesiones" class="tamanio-label">Lesiones</label>
                  <input id="idLesiones" class="form-control form-control-sm color-busqueda"  #inputLesiones id="inputLesiones"
                    type="text" matInput [formControl]="lesiones" [matAutocomplete]="mat" autocomplete="off" [readonly]="soloLectura">
                  <mat-autocomplete #mat="matAutocomplete" [displayWith]="displayFn.bind(this)" >
                    <mat-option *ngFor="let lesion of listaLesiones" [value]="lesion" (click)="addLesiones(lesion)">
                      {{lesion.nombre}}
                    </mat-option>
                  </mat-autocomplete>
              </div>
          </div>
        </div>
        <!--tabla para mostrar las lesiones seleccionadas-->
        <div class="row">
            <div class="col-md-8">
                <table class="table table-bordered table-striped table-sm" #tablaLesiones >
                  <thead>
                    <tr>
                      <th class="text-center" style="width:80%" scope="col">Nombre</th>
                      <th class="text-center" style="width:10%" scope="col" *ngIf="!soloLectura">Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let lesion of listaLesionesAgregadas">
                      <td >
                        <input name="idAutorizados" type="text" class="centrado" value="{{lesion.nombre}}" [readonly]="soloLectura" DISABLED>
                      </td>
                      <td *ngIf="!soloLectura">
                        <input name="accionesAutorizados" type="button" class="centrado" value="X" (click)="deleteLesion(lesion)" >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        
        <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button"
          formnovalidate (click)="accion(indiceSeleccionado)" >
          {{pestaniaActual}}
        </button>
      </form>
    </div>
    <div class="col-md-3 align-self-end">
      <form [formGroup]="formularioFoto">
        <div class="justify-content-center" style="text-align: center;">
        <img id="imgSalida" width="50%" height="50%" src="http://localhost:8082/hibanaws/auth/foto/obtenerPorId/{{idFoto}}" *ngIf="indiceSeleccionado>0 && !muestraImagenPc"/>
        <img id="imgSalida" width="50%" height="50%" src="assets/User.png" *ngIf="indiceSeleccionado>0 && muestraImagenPc">
        </div>
        <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="file-input" id="file-input" placeholder="Subir Foto" formControlName="foto" (change)="cargandoImagen($event.target.files, $event)" multiple *ngIf="!soloLectura">
              <label class="custom-file-label" id="imagen-nombre"></label>
            </div>
          </div>
        </form>
    </div>
  </div>
<!-- </form> -->
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-6">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:20%" scope="col">#</th>
            <th class="text-center" style="width:20%" scope="col">Nombre</th>
            <th class="text-center" style="width:20%" scope="col">Grupo General</th>
            <th class="text-center" style="width:20%" scope="col">Grupo Muscular</th>
            <th class="text-center" style="width:20%" scope="col">Grupo Máquina</th>
            <th class="text-center" style="width:20%" scope="col">Lesiones</th>
            <th class="text-center" style="width:10%" scope="col">-</th>
            <th class="text-center" style="width:10%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaCompleta">
            <td >
              <span>{{l.id}}</span>
            </td>
            <td >
              <span>{{l.nombre}}</span>
            </td>
            <td >
              <span>{{l.grupoGeneral.nombre}}</span>
            </td>
            <td >
              <span>{{l.grupoMuscular.nombre}}</span>
            </td>
            <td >
              <span>{{l.grupoMaquina.nombre}}</span>
            </td>
            <td >
              <span>{{l.lesiones}}</span>
            </td>
            <td >
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td >
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
