<div class="container-fluid" >
  <div class="row justify-content-center contenedor">
    <h5>Vencen Hoy</h5>
  </div>
</div>
<div class="row justify-content-center contenedor">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-4" *ngFor="let l of list; let i = index" >
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{l.id}} - {{l.nombre}} {{l.apellido}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image id="imgSalida" height="400px" width="auto" src="{{ip}}/foto/obtenerPorId/{{l.foto.id}}">
              <mat-card-title class="text-center">
                {{l.dni}}
              </mat-card-title>
          </mat-card>
      </div>
    </div>
  </div>
</div>